<%- include("./partials/_header.ejs") -%>

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>
<div class="box">
    <% newListItems && newListItems.forEach(item => { %>
    <!-- DELETING AN ELEMENT IN A LIST -->
    <form action="/todo/delete" method="post">
        <div class="item">
            <input
                type="checkbox"
                name="checkbox"
                value="<%= item._id %>"
                onChange="this.form.submit()"
            />
            <p><%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>" />
    </form>
    <% }) %>

    <!-- -------------- Add A TASK ------------------------ -->
    <form class="item" action="/todo" method="post">
        <div class="input-container">
            <input
                id="task"
                name="newItem"
                type="text"
                placeholder="add a task"
                autocomplete="off"
            />
            <div class="error"><%= error %></div>
        </div>
        <!-- prettier-ignore -->
        <button class="add-button" type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
</div>

<!-- --------------------- AFTER LIST ---------------------------------------- -->
<div class="col-wrap">
    <a href="/">Retour home</a>

    <!------------- Modal pour la création de liste ----------------------- -->
    <button class="show-modal">Ajouter une liste</button>
    <div class="modal hidden">
        <button class="modal__close-modal close-modal">&times;</button>
        <h1 class="modal__tile">Choississez un nom de liste</h1>
        <form action="/todo/add-new-list" method="post">
            <input
                class="modal--input"
                type="text"
                name="newListName"
                placeholder="Votre nom de liste"
                autocomplete="off"
            />
            <button class="add-button" type="submit">+</button>
        </form>
    </div>
    <div class="overlay hidden"></div>
    <!-- Créer un modal pour ajouter une liste

        1// faire fonctionner le modal (style améliorer plus tard)

        2// y intégrer un input pour création d'une liste

        3// faire créer les listes à partir de ce modal

    -->
</div>

<%- include("./partials/_footer.ejs") -%>
