<%- include("partials/_header") -%>

<% if (error !== "") { %>
    <h2><%- error %>(post Invalid) </h2> 
<% } %>

<h1>Home</h1>

<p><%= startingContent %></p>

<% if (homePosts !== []) { %>
<div>
    <% homePosts.forEach(post => { %>
        <h2><%= post.title %></h2>
        
        <p><%= post.content %> <a href="/posts/<%= post.title %>">Read More</a></p>
    <% }) %>
</div>
<% } %>

<a href="/compose">Add a post</a>

<%- include("partials/_footer") -%>
